<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Registro de usuario publicador{% endblock %}

{% block content %}
    {% load widget_tweaks %} 

    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <!-- Render form fields -->
    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
        {{ form.username|add_class:"form-control" }}
        {% if form.username.errors %}
            <div class="invalid-feedback d-block">
                {{ form.username.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.nombreCompleto.id_for_label }}" class="form-label">{{ form.nombreCompleto.label }}</label>
        {{ form.nombreCompleto|add_class:"form-control" }}
        {% if form.nombreCompleto.errors %}
            <div class="invalid-feedback d-block">
                {{ form.nombreCompleto.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
        {{ form.email|add_class:"form-control" }}
        {% if form.email.errors %}
            <div class="invalid-feedback d-block">
                {{ form.email.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.fotoDePerfil.id_for_label }}" class="form-label">{{ form.fotoDePerfil.label }}</label>
        {{ form.fotoDePerfil|add_class:"form-control" }}
        {% if form.fotoDePerfil.errors %}
            <div class="invalid-feedback d-block">
                {{ form.fotoDePerfil.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
        {{ form.password1|add_class:"form-control" }}
        {% if form.password1.errors %}
            <div class="invalid-feedback d-block">
                {{ form.password1.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="form-group  {% if form.nombreCompleto.errors %}has-error has-feedback{% endif %}">
        <label for="{{ form.password2.id_for_label }}" class="form-label">Repetir contraseña</label>
        {{ form.password2|add_class:"form-control" }}
        {% if form.password2.errors %}
            <div class="invalid-feedback d-block">
                {{ form.password2.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
{% endblock %}