{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        {% for user in users %}
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body d-flex align-items-center">
                    {% if user.avatar_url %}
                    <img src="{{ user.avatar_url }}" alt="Avatar" class="rounded-circle mr-3" style="width: 60px; height: 60px;">
                    {% else %}
                    <div class="avatar-placeholder rounded-circle mr-3" style="width: 60px; height: 60px; background-color: #ccc; display: flex; align-items: center; justify-content: center;">
                        <span>{{ user.username|slice:":1"|upper }}</span>
                    </div>
                    {% endif %}
                    <div>
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">{{ user.domain }}</p>
                        <button class="btn btn-primary follow-btn" data-username="{{ user.username }}" data-domain="{{ user.domain }}">Follow</button>
                    </div>
                </div>
                <div class="card-footer">
                    <h6>Recent Posts</h6>
                    <ul class="list-unstyled">
                        {% for post in user.recent_posts %}
                        <li>
                            <img src="{{ post.image_url }}" alt="Post Image" style="width: 50px; height: 50px;">
                            <span>{{ post.content|truncatewords:10 }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 