{% extends 'base.html' %}
{% block title %}Subir foto{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container mt-5">
  <h2 class="text-center">Subir Nueva Foto</h2>
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
            <li><strong>{{field.label}}: </strong>{{error}}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.titulo.id_for_label }}">{{ form.titulo.label }}</label>
      {{ form.titulo|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label for="{{ form.imagen.id_for_label }}" class="form-label">{{ form.imagen.label }}</label>
      {{ form.imagen|add_class:"form-control" }}
    </div>
    <div>
      <label for="{{ form.descripcion.id_for_label }}" class="form-label">{{ form.descripcion.label}}</label>
      {{ form.descripcion|add_class:"form-control" }}
    </div>
    <div>
      <label for="{{ form.alt_descripcion.id_for_label }}" class="form-label">{{ form.alt_descripcion.label}}</label>
      {{ form.alt_descripcion|add_class:"form-control" }}
    </div>
    <div>
      <label for="{{ form.licencia.id_for_label }}" class="form-label">{{ form.licencia.label}}</label>
      {{ form.licencia|add_class:"form-control" }}
    </div>
    <div>
      <label for="{{ form.advertencia_contenido.id_for_label }}" class="form-check-label">{{ form.advertencia_contenido.label}}</label>
      {{form.advertencia_contenido|add_class:"form-control"}}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Subir Foto</button>
  </form>
</div>
{% endblock %}