{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Tablón de Fotos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Tablón de Fotos</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for foto in fotos %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if foto.imagen %}
                                <div class="toHide"  data-post-id="{{ foto.id }}">
                                    <button class="hide-button" onclick="hidePost({{ foto.id }})">Ocultar</button>
                                    <img src="{{ foto.get_thumbnail_url }}" class="card-img-top" alt="{{ foto.titulo }}">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ foto.titulo }}</h5>
                                    <p class="card-text">{{ foto.descripcion }}</p>
                                    <p class="text-muted">Por {{ foto.usuario.nombreCompleto }}</p>
                                    <a href="{% url 'detalle_foto' foto.id %}" class="btn btn-primary">Ver Detalle</a>
                                </div>
                            {% else %}
                                {# Remote photo #}
                                <div class="toHide"  data-post-id="{{ foto.id }}">
                                    <button class="hide-button" onclick="hidePost({{ foto.id }})">Ocultar</button>
                                    <img src="{{ foto.image_url }}" class="card-img-top" alt="Remote photo">
                                </div>
                                <div class="card-body">
                                    <div class="content">{{ foto.content|safe }}</div>
                                    <p class="text-muted">{{ foto.published|date:"d/m/Y H:i" }}</p>
                                    <p class="text-muted">Por <a href="{{ foto.actor_url }}">{{ foto.username }}</a></p>
                                    <a href="{{ foto.remote_id }}" class="btn btn-primary" target="_blank">Ver Detalle</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <p>No hay fotos para mostrar.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/hide.js' %}"></script>
{% endblock %}